@model IEnumerable<DotNetAssessment.Models.Product>

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Product List</title>
</head>
<body>
    <div class="container">
        <h1>Product List</h1>
        <a asp-action="Create"> Create</a>
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductName)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProductDescription)</th>
                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Price)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => product.ProductName)</td>
                        <td>@Html.DisplayFor(modelItem => product.ProductDescription)</td>
                        <td>@Html.DisplayFor(modelItem => product.Price)</td>
                        <td>
                            @Html.ActionLink("Edit", "Update", new { id = product.Id })
                            @Html.ActionLink("Delete", "Delete", new { id = product.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
