@model DotNetAssessment.Models.Product
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
           
            <div class="card mt-4">
                <div class="card-header bg-primary text-white text-center">
                    <h4>@(ViewBag.DataAction == "Create" ? "Create Product" : "Edit Product")</h4>
                </div>
                <div class="card-body">
                    @if (ViewBag.DataAction == "Create")
                    {
                        @if (ViewBag.Message != null)
                        {
                            <div class="alert alert-danger">
                                @ViewBag.Message
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-controller="Product" asp-action="ManageProduct">
                                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                                    <div class="form-group">
                                        <label asp-for="Id" class="control-label"></label>
                                        <input asp-for="Id" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProductName" class="control-label">Product Name</label>
                                        <input asp-for="ProductName" class="form-control" />
                                        <span asp-validation-for="ProductName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Price" class="control-label">Price</label>
                                        <input asp-for="Price" class="form-control" />
                                        @* //<span asp-validation-for="Price" class="text-danger"></span> *@
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProductDescription" class="control-label">Description</label>
                                        <input asp-for="ProductDescription" class="form-control" />
                                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label class="control-label">Category</label>
                                        <input asp-for="ProductCategory" id="ProductCategory" class="form-control" type="text" />
                                        <span asp-validation-for="ProductCategory" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label class="control-label">Value</label>
                                        <input asp-for="ProductValue" id="ProductValue" class="form-control" type="text" />
                                        <span asp-validation-for="ProductValue" class="text-danger"></span>
                                    </div>
                                    <input type="hidden" name="DataAction" value="@ViewBag.DataAction" />
                                    <button type="submit" class="btn btn-primary w-20 mt-4">Create</button>
                                </form>
                            </div>
                        </div>
                    }

                    @if (ViewBag.DataAction == "Edit")
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-controller="Product" asp-action="ManageProduct">
                                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                                    <div class="form-group">
                                        <input asp-for="Id" type="hidden" value="@Model.Id" class="form-control" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProductName" class="control-label">Product Name</label>
                                        <input asp-for="ProductName" value="@Model.ProductName" class="form-control" />
                                        <span asp-validation-for="ProductName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Price" class="control-label">Price</label>
                                        <input asp-for="Price" value="@Model.Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProductDescription" class="control-label">Description</label>
                                        <input asp-for="ProductDescription" value="@Model.ProductDescription" class="form-control" />
                                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label class="control-label">Category</label>
                                        <input asp-for="ProductCategory" id="ProductCategory" value="@Model.ProductCategory" class="form-control" type="text" />
                                        <span asp-validation-for="ProductCategory" class="text-danger"></span>
                                    </div>
                                    <div class="form-group mt-2">
                                        <label class="control-label">Value</label>
                                        <input asp-for="ProductValue" id="ProductValue" value="@Model.ProductValue" class="form-control" type="text" />
                                        <span asp-validation-for="ProductValue" class="text-danger"></span>
                                    </div>
                                    <input type="hidden" name="DataAction" value="@ViewBag.DataAction" />
                                    <button type="submit" class="btn btn-primary w-20 mt-4">Save</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        // $.get("/Product/GetCategoryData?categoryName=" + "Value", function (data) {
        //     console.log(data); // Check the structure of the response
        // });
        $("#ProductCategory").kendoDropDownList({
            optionLabel: "Select category",
            dataValueField: "categoryName",
            dataTextField: "categoryName",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/Product/GetCategoryData?categoryName=" + "Value",
                    }
                }
            }
        }).data("kendoDropDownList");

        $("#ProductValue").kendoDropDownList({
            optionLabel: "Select Quantity",
            dataValueField: "value",
            dataTextField: "value",
            dataSource: {
                transport: {
                    read: {
                        dataType: "json",
                        url: "/Product/GetCategoryData?categoryName=" + "Category",
                    }
                }
            }
        }).data("kendoDropDownList");
    });
</script>